Header img {
  width: 33%;
}
/* more specific takes precedence*/
nav a {
  text decoration: none
}
a {
  text-decoration: line-through;
}
/* more recent takes precedence */
p { color: magenta; }
p { color: orange;}